body {
  background-color: black !important;
}
h1,
h2,
h5,
p {
  color: #fff;
}
button {
  text-transform: none;
  margin: 0;
}
/* navigation menu */
.navbar-is {
  background-color: #28a745;
  color: #ffff;
}
.navbar-brand-is {
  float: left;
  padding: 8px;
}
.navbar-nav-is {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 390px;
}

.nav-item-is {
  float: left;
}

.nav-link-is {
  display: block;
  color: white;
  text-align: center;
  padding: 11px 11px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-link-is:hover {
  background-color: #111;
  text-decoration: none;
  color: #fff;
}
.search-icon {
  background-color: transparent;
  border: none;
  color: #fff;
  padding: 10px;
}

/* Hero image */
.hero-image {
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-shade {
  padding-top: 300px;
  /* height: 850px; */
  background-size: cover;
  /* box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); */
}
.hero-title {
  font-size: 38px;
  font-weight: 600;
  text-align: center;
}
.hero-second-line {
  text-align: center;
  padding-top: 5px;
  font-size: 21px;
}
/* thumbnail row */
.slick-arrow {
  z-index: 200;
}
.slick-prev:before,
.slick-next:before {
  color: #fff;
  font-size: 30px;
}
.slick-prev {
  left: 25px;
}
.slick-next {
  right: 25px;
}

/* header */

.top-banner {
  background-color: green;
  margin-top: -22px;
}

.site-title {
  text-transform: uppercase;
  font-family: sans-serif;
  text-align: left;
  padding: 10px;
}
.second-title {
  font-family: sans-serif;
  text-align: left;
  font-weight: 600;
  font-size: 20px;
  padding-left: 10px;
}
.show-more {
  text-decoration: none;
  cursor: pointer;
  float: right;
  color: #fff;
  font-size: 12px !important;
  border-bottom: 1px solid #fff;
}
.show-more:hover {
  color: #28a745;
  border-bottom: 1px solid #28a745;
}
@media only screen and (max-width: 460px) {
  .show-more {
    text-align: center;
    font-size: 16px !important;
    width: 130px;
    float: none;
    display: block;
    margin: 0 auto;
    padding: 3px 6px;
    border: 1px solid #fff;
  }
}
.video-thumbnail-link {
  text-decoration: none;
}
.video-thumbnail {
  width: 100%;
  margin: 5px;
}
.gap-50 {
  padding: 50px;
}
.gap-20 {
  padding: 20px;
}
.left-align {
  text-align: left;
  padding: 10px;
}
.horizontal-white {
  background-color: #ffff;
}

.placeholder-video {
  /* background-color: #d3d3d3; */
  padding: 60px;
  color: black;
  margin: 2px;
  background: linear-gradient(129deg, #c4d0cd, #565d5b);
  background-size: 400% 400%;

  -webkit-animation: placeHolder-anim 3s ease infinite;
  animation: placeHolder-anim 3s ease infinite;
}
/* Gradiant Animation */
@-webkit-keyframes placeHolder-anim {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
@keyframes placeHolder-anim {
  0% {
    background-position: 0% 5%;
  }
  50% {
    background-position: 100% 96%;
  }
  100% {
    background-position: 0% 5%;
  }
}
.tags {
  color: #fff;
}
.video-tag {
  background-color: #28a745;
  color: #fff;
  padding: 4px 6px;
  border-radius: 10px;
  margin: 2px;
}

.footer {
  background-color: #d3d3d3;
  padding: 20px;
}
.footer > p {
  color: black;
  text-align: left;
}

.thumbnail-title {
  padding: 7px;
  text-align: center;
  font-size: 15px;
}

.video-page-title {
  font-size: 25px;
}
